<div *ngIf="islogged()">
  <nav  class="navbar navbar-light" style="background-color:rgba(23, 16, 16, 0.91);">
    <header>
      <h3 style=" color: white;"> Profile Settings</h3>
    </header>
  </nav>
<div class="container rounded bg-white mt-5 mb-5" >

  <div class="row" style="color: black" >
    <div class="col-md-3 user-info-container rounded bg-light" style="color: black">
      <img class="rounded-circle mt-5" width="150px"
           src="https://imgs.search.brave.com/9pMxGifLAkbaimXtMvGF_750jz1x5Mcp-INtZ-EIqUk/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHNkLWdyYXR1aXQv/Zm9ybWUtY2VyY2xl/LWlzb2xlXzE3NjM4/Mi03MjIuanBn"
           alt="Icône du menu" style="width: 100px; height:100px; margin-bottom: 1rem;">
      <div><span class="font-weight-bold" id="username">{{User.prenom}}</span></div>

      <span class="text-black-50" id="useremail">{{User.email}}</span>
    </div>
    <div class="col-md-5 border-right" >
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">SurName</label>
            <input type="text" class="form-control" placeholder="last name" [(ngModel)]="User.nom" name="nom">
          </div>
          <div class="col-md-6">
            <label class="labels">Name</label>
            <input type="text" class="form-control" placeholder="first name" [(ngModel)]="User.prenom" name="prenom">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Email</label>
            <input type="text" class="form-control" placeholder="email" [(ngModel)]="User.email" name="email">
          </div>
          <div class="col-md-12">
            <label class="labels">Password</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="**********" [(ngModel)]="User.password" name="password">
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <div class="btn-group">
            <button class="btn btn-primary" (click)="saveChanges(User.id)">Save </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div *ngIf="!islogged()">
  <p>Error: You are not logged in.</p>
</div>
